*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.user-container{
display: flex;
align-items: center;
gap: 2rem;
position: absolute;
right: 1rem;
top: 0.6rem;
}
.userImg{
    border-radius: 50%;
    width: 36px;
}
.heroSection{
    width: 100%;
    background-color: #7550fe;
    
}
.imgHero{
    flex-wrap: wrap;
    width: auto;
    
}